<div class="answer m-5">

  <h1>Stupid Coaching</h1>

  <div class="you">
    <%= params[:question] %>
    <em><p class="pt-2">—You</p></em>
  </div><br>

  <div class="coach">
    <div class="coach-answer"><%= @answer %></div>
    <em><p class="pt-2">—Your coach</p></em>
  </div><br>

  <a href="http://localhost:3000/ask">Ask a new question</a>
</div>
